@import './modules/modal';
@import './modules/header';
@import './modules/button-cta';
@import './modules/form-container';
@import './modules/menu-list';
@import './modules/main-section';
@import './modules/subscribe-form';
@import './modules/subheader';
@import './modules/glider-custom';
@import './modules/team-content';
@import './modules/team-element';
@import './modules/contact-section';
@import './modules/contact-form';
@import './modules/footer';