.button-cta {
    height: 46px;
    border: none;
    border-radius: 25px;
    background-color: #38A5DB;
    color: #ffffff;
    font-size: 17px;
    font-weight: 600;
    font-family: $secondary-font;
    cursor: pointer;
}
